{% extends "base.html" %}
{% block title %}Пост пользователя{% endblock %}
{% block header %}Пост пользователя{% endblock %}
{% block content %}

<main role="main" class="container">
<div class="row">
        <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    {{post.author.get_full_name}}

                                </div>
                                <div class="h3 text-muted">
                                     @{{post.author.username}}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                <div class="h6 text-muted">
                                Подписчиков: {{post.author.following.count}} <br />
                                Подписан: {{post.author.follower.count}}
                                </div>
                        </li>
                        <li class="list-group-item">
                                <div class="h6 text-muted">
                                Записей: {{posts_count}}
                                </div>
                        </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">
                <div class="card mb-3 mt-1 shadow-sm">
                        {% include "post_item.html" with post=post %} 
                </div>
        {% include 'comments.html' %}
        </div>
</div>
</main>

{% endblock %} 